.slider-bg-info{
    background-color: #feeae9;
}
.categories-bg-info{
    background-color: #ffaf2b;
}
.categories1-bg-info{
    background-color: rgb(255 74 146);
}
.categories2-bg-info{
    background-color: rgb(64 65 251);
}